In [1]:
import pandas as pd

In [2]:
data_read = pd.read_csv("CSV _converter.csv")

In [3]:
data_frame = pd.DataFrame(data_read)

In [16]:
data_frame

,Service ID,RMIN,SSO_Error,Date-time,Platform,Contect-Partent,Content-type,Title,location
0,6789457383,1.000000e+10,AUTHENTICATION_Error,11/23/2022,Android,Hotstar,MOVE,Content Title-1,Delhi
1,678457383,1.000000e+10,AUTHENTICATION_Error,11/23/2022,IOS,primer,MOVE,Content Title-2,Chennai
2,6789343557383,1.000000e+10,AUTHENTICATION_Error,11/23/2022,web,sonylive,MOVE,Content Title-3,Delhi
3,6782346457383,1.000000e+10,AUTHENTICATION_Error,11/23/2022,FTV,Zee5,MOVE,Content Title-4,chennai

In [30]:
var = data_frame[ (data_frame["Platform"] == "Android") & 
                    (data_frame["Contect-Partent"] == "Hotstar") &
                   (data_frame["Content-type"] == "MOVE") &
                   (data_frame["Title"] == "Content Title-1") &
                   (data_frame["location"] == "Delhi")]

In [31]:
var.to_json()

'{"Service ID":{"0":6789457383},"RMIN":{"0":10000000000.0},"SSO_Error":{"0":"AUTHENTICATION_Error"},"Date-time":{"0":"11\\/23\\/2022"},"Platform":{"0":"Android"},"Contect-Partent":{"0":"Hotstar"},"Content-type":{"0":"MOVE"},"Title":{"0":"Content Title-1"},"location":{"0":"Delhi"}}'